*.pyc
__pycache__/
logs/
data/
saved_models_final/
cifar10_final.csv
cifar10.csv
csvs/
*.yaml
*.csv
env_models/
upper_logs/
utils/singular
test_model/
QUB_Logs/
commands/
grad_norm_logs/
2_logs/
env_models_2/